body {
    background-color: aqua;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

#headerDiv {
    border-style: solid;
    border-width: 10px;
    border-color: black;
    margin-bottom: 10px;
    background-color: lightblue;
}

#inputDiv {
    padding-bottom: 30px;
    border-style: solid;
    border-width: 5px;
    border-color: black; 
    background-color: lightblue;
}

table {
    padding-bottom: 30px;
    border-style: solid;
    border-width: 3px;
    border-color: black; 
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

#taskHeader {
    padding-left: 5cm;
    padding-right: 5cm;
}

th {
    border-style: solid;
    border-width: 1px;
    border-color: black; 
    align-items: center;
    background-color: lightblue;
}

.taskCompleted {
    text-decoration: line-through;
    color: lightskyblue
}


.uncompleteButton {
    background: none;
      color: inherit;
      border: none;
      padding: 0;
      font: inherit;
      cursor: pointer;
      outline: inherit;
    margin: 0 5px 0 5px;
  }

.completeButton {
    background: none;
      color: inherit;
      border: none;
      padding: 0;
      font: inherit;
      cursor: pointer;
      outline: inherit;
    margin: 0 5px 0 5px;
  }

  .no {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 50px;
  }

  .yay {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 50px;
  }

  .timeCompleted {
      color: lightskyblue;
  }